main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media (max-width:991px) {
    main {
        grid-template-columns: 1fr;
        padding: 0 24px 60px;
        max-width: 600px;
    }
}