.controlPanel {
    height: 415px;
    padding: 30px;
    border-radius: 14px;
    box-shadow: inset rgba(0, 0, 0, 0.075) 0 0 0 1px;
}

.btnsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-items: center;
    gap: 24px;
}