button {
    height: 46px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 0 21px;
    border: none;
    border-radius: 10px;

    background-color: #fff;
    color: #000;
    box-shadow: inset #d8d8da 0 0 0 1px;
    transition: box-shadow 0.1s ease-in-out;
    
    &:hover {
        box-shadow: inset #b1b0b5 0 0 0 1px;
        cursor: pointer;
    }
}

.blueBtn {
    box-shadow: none;
    background-color: #0066ff;
    color: #fff;
    
    &:hover {
        box-shadow: none;
        background-color: #005ce6;
    }
}