header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    padding: 0 42px;
    text-align: center;
}

header h1 {
    font-size: 50px;
    line-height: 1.1em;
    letter-spacing: -0.045em;
    margin-bottom: 30px;
}

header h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7em;
    color: #7d7c83;
}

@media (max-width: 991px) {
    header {
        margin: 60px 0;
        padding: 0 24px;
    }
}