.fullScreenPreview {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0, #681193 0%, #4542C9 51%, #2472FC 100%);
    transform: translate3d(0, 100%, 0);
    transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.previewVisible {
    transform: translate3d(0, 0, 0);
}

.iconWrapper {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    min-height: 36px;
    min-width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.crossIcon {
    font-size: 18px;
    color: #000;
}